/*! Televisa Interactive Media UI - v1.0.0 - 15/05/2013
* http://www.televisa.com
* Includes:
* tim.ui.core.css
*/
@charset "UTF-8";

/*! Reset
*/
@import url("http://i2.esmas.com/css/libraries/normalize.2.1.1.css");

/*! Generals
*/
body, html
{
	height:100%;
}

body
{
	font-family: Arial, sans-serif;
	color:#000;
}

a
{
	color:#000;
	text-decoration:none;
}

a:hover
{
	text-decoration:underline;
}

.break
{
	clear:both;
	height:1px;
}

.hideThis
{
	display:none!important;
}

/*! Layout
*/
#tui-super-wrapper
{
	background:#fff;
}

#tui-wrapper
{
	min-width:980px;
	background:#fff;
}

#tui-wrap
{
	width:980px;
	min-width:980px;
	margin:0 auto;
	position:relative;
	min-height:379px;
	padding:0 0 50px 0;
}